# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/lib/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editor
.idea/
.vscode/
*.swp
